/* Layout the CSS of the site */
/* Let the magic happen here... */

body {
	font-family: "Source Sans Pro", Arial, sans-serif;
    color: #d9d9d9;
    
	background: #37393D;
    
    background: url('../images/bgg.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

/* ------------------------ Main Content ------------------------ */

.frame__content {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 800px;
    margin: 0 auto;
}

.frame__content-item {
    color: white;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    background: #37393d;
    text-align: left;
    margin: 5px 0;
    padding: 20px;
}

.frame__content-item img{
    max-width: 1000px;
    height: auto;
    width: 100%;
    padding: 0;
}

.frame__content-item-big {
    font-size: 2em;
    font-weight: 400;
    }

.frame__content-emblue {
    color: #9DD2FF;
}
.frame__content-empink {
    color: #E4ABBF;
}
.frame__content-emaqua {
    color: #8FDDE0;
}
.frame__content-embold {
    font-weight: 600;
}

.nopad {
    padding: 0;
}

.frame__gallery {
    padding-top: 70px;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.gallery-thumb {
    text-align: center;
    display: inline-block;
    background: #37393d;
    margin: 5px;
    padding: 10px;
}

.gallery-thumb img {
    max-width: 1000px;
    height: auto;
    width: 100%;
}

.contactbutton-be img{
    background: #005cff;
    }
.contactbutton-in img{
    background: #0077b5;
    }

.contactbutton {
    text-align: center;
    vertical-align: middle;
    background: #37393d;
    width: 140px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

a .contactbutton{
    text-decoration: none;
    color: white;
}

.frame__content a {
    text-decoration: none;
}

a .contactbutton:hover{
    text-decoration: none;
    color: white;
}


.contactbutton img {
    width: 100px;
    padding:20px;
}

.contacttext {
}

.contacttext__em {
    font-weight: 600;
    display:block;
    font-family: "Karla", Arial, sans-serif; 
    font-size: 14px;
    margin: 5px;
}

.cv {
    max-width: 1000px;
    text-align: left;
    margin-top: 70px;
}

.cv p {
    margin: 25px 0;
}


.frame__cv-title {
    font-size: 2em;
    font-weight: 400;
    display: block;
    margin-bottom: 25px;
    text-align: center;
}


.frame__cv-subtitle {
    font-size: 1.5em;
    font-weight: 400;
    display: block;
    color: #9DD2FF;
    text-align: center;
}

.frame__cv-subsubtitle {
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.frame__cv-date {
    font-size: .75em;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #8fdde0;
    text-align: center;
}

.spacer {
    min-height: 100px;
    min-width: 1px;
}
    
.frame__content-item a{
    text-decoration: none;
    color: white;
}

.frame__content-item a:hover{
    text-decoration: none;
    color: #9DD2FF;
}




/* ----------------- Automagical Things ----------------- */

@media (max-width: 650px) {
    
    body {
        font-size: .8em;
    }
    
    .frame__content-item-big {
    font-size: 2em;
    }
    
    .frame__cv-title {
    font-size: 2em;
    }
    
    
}
