/* Let the magic happen here... */

/* BORDER --------------------------------------- */

#border--top, #border--bottom, #border--left, #border--right {
  background: #232425;
  position: fixed;
}

#border--left, #border--right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#border--left {
  left: 0;
}

#border--right {
  right: 0;
}

#border--top, #border--bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#border--top {
  top: 0;
}

#border--bottom {
  bottom: 0;
}

/* MAIN BODY ---------------------------------------------- */

html {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.4;
  color: #232425;
  background-color: #eaeaea;
}

::-moz-selection {
  background: #ea88b0;
  text-shadow: none;
  color: #232425;
}

::selection {
  background: #ea88b0;
  text-shadow: none;
  color: #232425;
}

/* NAVIGATION ---------------------------------------------- */

nav {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
  margin: 15px;
  opacity: 0;
}

#navlinks {
  float: right;
  line-height: 75px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
}

#navlinks a {
  text-decoration: none;
  color: #232425;
  margin-right: 20px;
}

#navlinks a:hover {
  text-decoration: none;
  color: #4ac6d7;
}

/* CONTENT ---------------------------------------------- */

#content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-transition: opacity 2s ease-in;
  -webkit-transition--moz-transition: opacity 2s ease-in;
  -webkit-transition--o-transition: opacity 2s ease-in;
  -webkit-transition--ms-transition: opacity 2s ease-in;
  -webkit-transition-transition: opacity 2s ease-in;
}

#content div {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
}

h1 {
  color: #232425;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
  opacity: 1;
  margin-top: 120px;
}

h2 {
  color: #232425;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  opacity: 0;
  margin: 0px;
}

p {
  text-transform: uppercase;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  opacity: 0;
  margin: 0px;
  margin-bottom: 20px;
}

/* SVG ---------------------------------------------- */

.icon_logo svg {
  width: 75px;
  fill: #000000;
}

.icon_SM svg {
  width: 75px;
  fill: #232425;
}

.icon_SM:hover svg {
  fill: #ea88b0;
}

.icon_SM a {
  text-decoration:none;
}
